.table {
  margin: auto;
  border: 1px solid white; 
  color: white; 
  border-radius: 10px;
}

.table th{
  border: 1px solid rgb(36, 36, 36);
  border-bottom-color: white;
}

.table td{
  border-bottom-color: rgb(36, 36, 36);
}